@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// @import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");
.na {
  background-color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
div[data-content="MUI X Missing license key"] {
  color: red;
}
.MuiDateRangeCalendar-root:first-child {
  color: red;
}
